DOCTYPE html>
<html xmlns="th=http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CLIENTES</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div>
		<form action="#" th:action="@{/clientes>}" th:object=${clientes} method="post">
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" id="nombre" name="nombre">
			</div>
			
			<div class="form-group">
				<label for="nombre">Apellido</label> <input type="text"
					class="form-control" id="apellido" name="apellido">
			</div>
			
			<div class="form-group">
				<label for="nombre">Direccion</label> <input type="text"
					class="form-control" id="direccion" name="direccion">
			</div>
			
			<div class="form-group">
				<label for="nombre">Telefono</label> <input type="text"
					class="form-control" id="telefono" name="telefono">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>

</body>
</html>